<div class="container">
  <div class="content">
    <%= simple_form_for @recognition do |f| %>
      <div class="picture-frame">
        <img id="img_prev" src="#" alt="your image" class="hidden thumbnail"/> <br/>
        <i class="fa fa-camera"></i>
      </div>
      <div class="formulaire">
        <%= f.input :photo, input_html: { class: 'picture hidden', :data => { indeximg: f.index } }, label: false %>
        <%= f.input :photo_cache, as: :hidden, input_html: { class: 'photocache' } %>
        <%= f.submit "Envoyer !", class: "btn btn-success no-click"%>
      </div>
    <% end %>
  </div>
</div>
