<div class="container">
  <div class="content-show">
    <div class="picture-show">
      <h1><%= @recognition.nom %></h1>
      <%= cl_image_tag @recognition.photo, crop: :fill, class: 'thumbnail' %>
    </div>
    <% if @recognition.nom.include? "Markus Geier" %>
      <div class="twelveur markus">
        <div class="card-title">
          <p class="nom">Markus Geier</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7B1BD0047C-3264-4E95-9BE7-8C1770D3F165%7D&file=CV%20MArkus%20Geier.pptx&action=edit&mobileredirect=true"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Vision technique et métier</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Italo – Franco – Allemand​</p>
            <p>Pense plus aux utilisateurs que les consultants​</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Eric Foucault" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Eric Foucault</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7B1BD0047C-3264-4E95-9BE7-8C1770D3F165%7D&file=CV%20MArkus%20Geier.pptx&action=edit&mobileredirect=true"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Développeur du dimanche</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Mannequin, comédien semi-professionnel</p>
            <p>Le Wagon Alumni</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Christophe Amouroux" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Christophe Amouroux</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Amélie Landry" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Amélie Landry</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Sadik Filipovic" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Sadik Filipovic</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Alban de la Rochefordière" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Alban de la Rochefordière</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Lamia Kaddar" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Lamia Kaddar</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Aline Perrin" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Aline Perrin</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Amaury Grégoire" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Amaury Grégoire</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Antoine Jousselin" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Antoine Jousselin</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Antoine Sacquin" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Antoine Sacquin</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Arielle Combes" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Arielle Combes</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Arnaud Ceyrac" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Arnaud Ceyrac</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Axel Ravily" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Axel Ravily</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Camille Abadie" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Camille Abadie</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Camille Berthelon" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Camille Berthelon</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Clara Vanhassel" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Clara Vanhassel</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Emeric Daswani" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Emeric Daswani</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Fabrice Fouchan" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Fabrice Fouchan</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Florian Brousset" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Florian Brousset</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Gauthier Langlois" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Gauthier Langlois</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Ines Costa" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Ines Costa</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Jérémy Daclinat" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Jérémy Daclinat</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Jessica Vosges" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Jessica Vosges</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Juliet Claude" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Juliet Claude</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Julie Waldner" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Julie Waldner</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Laura Ohana" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Laura Ohana</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Laure Sari" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Laure Sari</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Manon Despalle" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Manon Despalle</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Maxime Tussiot" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Maxime Tussiot</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Michelle Duquerois" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Michelle Duquerois</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Pamela Wajsman" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Pamela Wajsman</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Pierre Cellard" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Pierre Cellard</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Pierre Conde" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Pierre Conde</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Pierre Guillou" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Pierre Guillou</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Pierre Rognion" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Pierre Rognion</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Rosine Sousso" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Rosine Sousso</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Rémi Tinel" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Rémi Tinel</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Romain Douville" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Romain Douville</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Stéphanie Schneider" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Stéphanie Schneider</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Thomas Rougeau" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Thomas Rougeau</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Thomas Thieffry" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Thomas Thieffry</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Xavier Poinsignon" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Xavier Poinsignon</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>To be defined</p>
          </div>
        </div>
      </div>
    <% end %>
    <div class="formulaire">
      <p class="btn btn-success"><%= link_to "Rejouer", root_path %></p>
    </div>
  </div>
</div>
