<div class="container">
  <div class="content">
    <div class="picture-show">
      <h1><%= @recognition.nom %></h1>
      <%= cl_image_tag @recognition.photo, crop: :fill, class: 'thumbnail' %>
    </div>
  </div>
</div>
