<div class="container">
  <div class="content-show">
    <div class="picture-show">
      <h1><%= @recognition.nom %></h1>
      <%= cl_image_tag @recognition.photo, crop: :fill, class: 'thumbnail' %>
    </div>
    <% if @recognition.nom.include? "Markus Geier" %>
      <div class="twelveur markus">
        <div class="card-title">
          <p class="nom">Markus Geier</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7B1BD0047C-3264-4E95-9BE7-8C1770D3F165%7D&file=CV%20MArkus%20Geier.pptx&action=edit&mobileredirect=true"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Vision technique et métier</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Italo – Franco – Allemand​</p>
            <p>Pense plus aux utilisateurs que les consultants​</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Eric Foucault" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Eric Foucault</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Développeur du dimanche</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Mannequin, comédien semi-professionnel</p>
            <p>Le Wagon Alumni</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Christophe Amouroux" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Christophe Amouroux</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Mr. President</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Alfa owner</p>
            <p>Boat lover</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Amélie Landry" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Amélie Landry</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Maman des 12eurs</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Voyage au Brésil</p>
            <p>Handballeuse</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Sadik Filipovic" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Sadik Filipovic</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Ministre de l'Assurance</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Péruvien</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Alban de la Rochefordière" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Alban de la Rochefordière</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Trailhead master</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>habille son enfant en Salesforce</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Lamia Kaddar" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Lamia Kaddar</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Microsoft lover</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Grande blessée permanente</p>
            <p>Joueuse de foot @Twelve</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Aline Perrin" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Aline Perrin</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>LA compétitrice</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Passe son temps à créer des jeux</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Amaury Grégoire" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Amaury Grégoire</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Amaury Grégoire, consultant chez 12 consulting</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Styliste de l'équipe de foot 12</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Antoine Jousselin" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Antoine Jousselin</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Team Centrale</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Vigneron</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Antoine Sacquin" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Antoine Sacquin</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Newbie @12</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Théatre d'impro</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Arielle Combes" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Arielle Combes</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>La finance n'a pas de secrets pour moi</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Supporte Montepllier (et Marseille)</p>
            <p>Grande Joggeuse</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Arnaud Ceyrac" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Arnaud Ceyrac</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7Bf8385fdf-0844-4be5-a46e-7208470d213b%7D&action=edit&uid=%7BF8385FDF-0844-4BE5-A46E-7208470D213B%7D&ListItemId=300439&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Salesforce evangelist</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Wine and cheese lover</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Axel Ravily" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Axel Ravily</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7B84b141c7-64bb-48c8-8d46-29bccde11aad%7D&action=edit&uid=%7B84B141C7-64BB-48C8-8D46-29BCCDE11AAD%7D&ListItemId=300401&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Engagement et esprit d'équipe</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Kitesurfer</p>
            <p>#ExpressionsRingardes</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Camille Abadie" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Camille Abadie</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7B68865b3d-1550-4dfd-a5d3-65db37b93a4b%7D&action=edit&uid=%7B68865B3D-1550-4DFD-A5D3-65DB37B93A4B%7D&ListItemId=300400&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Couteau suisse</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Voyageuse du monde</p>
            <p>Objectif marathon</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Camille Berthelon" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Camille Berthelon</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7Be1badb30-d5c1-4254-8938-09b251a69ac2%7D&action=edit&uid=%7BE1BADB30-D5C1-4254-8938-09B251A69AC2%7D&ListItemId=300700&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>J'aime les défis</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Les voyages !</p>
            <p>Sommeil Polyphasique</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Clara Vanhassel" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Clara Vanhassel</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7B6f92d927-48a3-4f08-8b10-051cd25d7cbb%7D&action=edit&uid=%7B6F92D927-48A3-4F08-8B10-051CD25D7CBB%7D&ListItemId=300334&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>#MarketingCloud</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Team Natation</p>
            <p>Ecoute Mozart & PNL</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Emeric Daswani" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Emeric Daswani</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7Bd8f09acc-34bd-4611-965c-3bb370682597%7D&action=edit&uid=%7BD8F09ACC-34BD-4611-965C-3BB370682597%7D&ListItemId=300393&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>La curiosité !</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Team Escalade</p>
            <p>Mange pour deux</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Fabrice Fouchan" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Fabrice Fouchan</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7Be04159c5-7007-4523-85de-9b31dcf69d78%7D&action=edit&uid=%7BE04159C5-7007-4523-85DE-9B31DCF69D78%7D&ListItemId=300409&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Analyse & Synthèse</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Paye des cafés en bitcoin</p>
            <p>Photographe de 12</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Florian Brousset" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Florian Brousset</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7B7D4D65BA-090B-43F9-A06E-05745F963F01%7D&file=CV_FLORIAN%20BROUSSET.pptx&action=edit&mobileredirect=true"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Microsoft evangelist</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Motard assidu</p>
            <p>Secouriste Hi-tech</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Gauthier Langlois" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Gauthier Langlois</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Le vrai Geek de 12</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>#Belgique</p>
            <p>Profite des séminaires 12</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Ines Costa" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Ines Costa</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7B7c66e7e0-4812-49b7-9db6-b5e0c3b7c768%7D&action=edit&uid=%7B7C66E7E0-4812-49B7-9DB6-B5E0C3B7C768%7D&ListItemId=300376&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Big relationnel</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Parle 4 langues</p>
            <p>Voyage en solo</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Jérémy Daclinat" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Jérémy Daclinat</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>La voix de 12</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>La voix de 12</p>
            <p>La voix de 12</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Jessica Vosges" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Jessica Vosges</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7B72424143-3430-436c-872d-5c8feee1dc76%7D&action=edit&uid=%7B72424143-3430-436C-872D-5C8FEEE1DC76%7D&ListItemId=300407&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Double casquette UI/UX Desktop et App</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Danseuse</p>
            <p>Voyageuse</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Juliet Claude" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Juliet Claude</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7B86a98058-d7b1-4856-b6e7-c048171416bf%7D&action=edit&uid=%7B86A98058-D7B1-4856-B6E7-C048171416BF%7D&ListItemId=300368&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Paramétrage & Change</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>A vécu en Inde et au Vietnam</p>
            <p>Bac +5 en selfies</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Julie Waldner" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Julie Waldner</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>#Change</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>A grandi dans une patisserie</p>
            <p>... cuisine au Thermomix</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Laura Ohana" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Laura Ohana</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7B67ffdf09-a81d-4848-86f2-c1e9da3dc7cd%7D&action=edit&uid=%7B67FFDF09-A81D-4848-86F2-C1E9DA3DC7CD%7D&ListItemId=300516&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Multi-tasking is my life</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Resp apéro 12</p>
            <p>Fan d'Elvis</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Laure Sari" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Laure Sari</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7B1805254a-dc6f-4dfe-82b0-5831e32b26ab%7D&action=edit&uid=%7B1805254A-DC6F-4DFE-82B0-5831E32B26AB%7D&ListItemId=300366&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Digital & Comm</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Chante en chorale</p>
            <p>Ingénieure en agroalimentaire</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Manon Despalle" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Manon Despalle</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7B8063bb2b-7693-4461-9fb1-2610c142f929%7D&action=edit&uid=%7B8063BB2B-7693-4461-9FB1-2610C142F929%7D&ListItemId=300343&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Touche à tout</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Fan de danse et gym</p>
            <p>Sait faire la vague</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Maxime Tussiot" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Maxime Tussiot</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7B0574b6f5-9116-4c38-885a-0238385dfa03%7D&action=edit&uid=%7B0574B6F5-9116-4C38-885A-0238385DFA03%7D&ListItemId=300515&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Sait faire parler la data</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Voyageur du monde</p>
            <p>Boursicoteur</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Michelle Duquerois" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Michelle Duquerois</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Newbie @12</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Team Comm</p>
            <p>Tenniswoman</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Pamela Wajsman" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Pamela Wajsman</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7Ba3ef27fe-d189-4da6-bc27-782339ff2ea8%7D&action=edit&uid=%7BA3EF27FE-D189-4DA6-BC27-782339FF2EA8%7D&ListItemId=300365&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Finance & Digital</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Journaliste rédactrice</p>
            <p>Objectif : 3 pays par an</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Pierre Cellard" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Pierre Cellard</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7B63f5cbd1-bc0a-483c-b3ec-779857278291%7D&action=edit&uid=%7B63F5CBD1-BC0A-483C-B3EC-779857278291%7D&ListItemId=300333&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Le fond ET la forme</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>A publié son app sur l'AppStore</p>
            <p>Se réveille la nuit pour voir des matchs de Federer</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Pierre Conde" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Pierre Conde</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Force tranquille</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>#Chesnay</p>
            <p>Pilote de Mini</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Pierre Guillou" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Pierre Guillou</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7Be065434c-6477-4f7b-9b8d-48f7948763db%7D&action=edit&uid=%7BE065434C-6477-4F7B-9B8D-48F7948763DB%7D&ListItemId=300592&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Boïte à outil design</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Le futur n'arrive pas assez vite</p>
            <p>Les users ont tjs raison</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Pierre Rognion" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Pierre Rognion</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>La polyvalence</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Passion Crossfit</p>
            <p>Passion Crypto</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Rosine Sousso" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Rosine Sousso</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Newbie @12</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>#Lecture</p>
            <p>#Art oratoire</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Rémi Tinel" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Rémi Tinel</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7B299d999a-d147-4761-8056-4c19a3f2435c%7D&action=edit&uid=%7B299D999A-D147-4761-8056-4C19A3F2435C%7D&ListItemId=300699&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Analyse & Synthèse</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Yogi Surfer</p>
            <p>Fan de DYI</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Romain Douville" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Romain Douville</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7B4253259a-1c76-4bd9-91ae-357aeed6f0ed%7D&action=edit&uid=%7B4253259A-1C76-4BD9-91AE-357AEED6F0ED%7D&ListItemId=300405&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Humilité, persévérance, rigueur, écoute</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>A interviewé un chatbot</p>
            <p>Passionné par les grands chefs</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Stéphanie Schneider" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Stéphanie Schneider</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Team Pichet / Team Ipsen</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Collectionne les boules à neige</p>
            <p>Resp tomates</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Thomas Rougeau" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Thomas Rougeau</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7B23345e45-8c63-4247-8b31-77ffc0f453c6%7D&action=edit&uid=%7B23345E45-8C63-4247-8B31-77FFC0F453C6%7D&ListItemId=300404&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Pragmatique, déterminé, polyvalent, à l'écoute</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>A craqué sa chemise en atelier</p>
            <p>Adepte de la sapologie</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Thomas Thieffry" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Thomas Thieffry</p>
          <a href="#"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Sait tout faire</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Boudeur en chef</p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recognition.nom.include? "Xavier Poinsignon" %>
      <div class="twelveur eric">
        <div class="card-title">
          <p class="nom">Xavier Poinsignon</p>
          <a href="https://twelveconsulting.sharepoint.com/:p:/r/_layouts/15/Doc.aspx?sourcedoc=%7B69c936ea-0cca-41bb-9d40-4693f99f2be6%7D&action=edit&uid=%7B69C936EA-0CCA-41BB-9D40-4693F99F2BE6%7D&ListItemId=300398&ListId=%7B35D4BFE4-5441-4F63-A6FC-1DF400F60048%7D&odsp=1&env=prod"><i class="fas fa-info-circle"></i></a>
        </div>
        <div class="balaise">
          <div class="titre">
            <i class="fas fa-dumbbell"></i>
          </div>
          <div class="description">
            <p>Multi casquettes et adaptabilité</p>
          </div>
        </div>
        <div class="cool">
          <div class="titre">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <div class="description">
            <p>Master des dashboards</p>
            <p>Pratique le basket en Air Jordan</p>
          </div>
        </div>
      </div>
    <% end %>
    <div class="formulaire">
      <p class="btn btn-success"><%= link_to "Rejouer", root_path %></p>
    </div>
  </div>
</div>
