h1 {
  color: white;
}

.content {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
}

.picture-frame {
  width: 30vw;
  height: 80vh;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 2%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.picture-show {
  width: 30vw;
  height: 80vh;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.formulaire {
  width: 30vw;
  text-align: center;
  margin-top: 1em;
}
.fa {
  font-size: 5em;
  margin:0 auto;
  color: white;
}

.thumbnail {
  display: block;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
  padding: none;
  margin: none;
}

.thumbnail-show {
  height: 100%;
  width: 100%;
}

.btn-success {
  background-color: #CD0B20;
  border: none;
  font-size: 2em;
  &:hover {
    background-color: #CD0B20;
    font-weight: 800;
  }
}
#no-border {
  border: none;
}
.no-click {
    pointer-events: none;
}

@media screen and (max-width: 640px) {
  .content {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  }
  .picture-frame {
    width: 85vw;
    height: 70vh;
    // border: 1px solid rgb(200, 200, 200);
    // border-radius: 2%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  .picture-show {
    width: 85vw;
    height: 70vh;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  .formulaire {
    width: 90vw;
    text-align: center;
    margin-top: 1em;
  }
  .fa {
    font-size: 5em;
    margin:0 auto;
  }
}
